@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;700&display=swap');

@font-face {
    font-family: 'Museo';
    src: url(/fonts/Museo500.woff2) format('woff2');
}

body {
    font-family: 'Museo', 'Cairo', sans-serif;
    margin: 0;
}

p, h1 {
    direction: rtl;
    color: white;
}

a {
    text-decoration: none;
}

input {
    text-align: right;
}

/*header start*/

.nav-wrapper {
    box-shadow: 2px 3px 5px 1px rgba(0, 0, 0, 0.75);
    height: 5rem;
    display: flex;
    align-items: center;
    background: linear-gradient(to right top, rgb(25, 82, 82), rgb(189, 156, 68));
}

.nav-btn {
    border: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 1rem;
}

.burger, .burger + span {
    z-index: 3;
}

.burger span.x-mark {
    background-color: #ccc3c3;
}

.burger-nav {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    transform: translateY(-100%);
    transition: transform .3s ease-in-out;
}

.burger-nav.visible {
    transform: translateY(0);
}


.blue-nav {
    background-color: #6161e8;
    width: 100%;
    min-width: 17rem;
    max-width: 40rem;
    transition-delay: .3s;
}

.blue-nav.visible {
    transition-delay: 0s;
}

.black-nav {
    background-color: black;
    position: relative;
    width: 100%;
    padding: 1.5rem;
    transition-delay: 0s;
}

.black-nav.visible {
    transition-delay: .5s;
}

.close-btn {
    position: absolute;
    color: #d7d3d3;
    left: 0.9rem;
    top: 1rem;
    font-size: 3rem;
}

.logo {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

.list {
    list-style: none;
    padding: 0;
    margin: 2rem 0;
}

.list li {
    margin: 1.5rem 0;
}

.list li a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
}

.list li a:after {
    display: block;
    content: '';
    border-bottom: solid 5px #656c66;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.list li a:hover:after {
    transform: scaleX(50%);
}

.header-text h1 {
    color: white;
    font-weight: bold;
    text-align: center;
}

.header-text h1:first-child {
    font-size: 3rem;
    margin-bottom: 1rem;
}

@media (min-width: 768px) {
    .burger-nav {
        transform: translateX(100%);
    }

    .burger-nav.visible {
        transform: translateX(0);
    }

    .blue-nav {
        width: 60%;
        min-width: 17rem;
        max-width: 40rem;
    }

    .nav-wrapper {
        height: 6rem;
    }

    .header-text h1:first-child {
        font-size: 10rem;
    }
}

/*video section start*/
.video-section {
    margin-top: 5rem !important;
}

.video-section a, .video-section p, .video-section h1 {
    color: black;
}

.video-nav {
    position: fixed;
    top: 96px;
    left: 0;
    height: 86vh;
    background-color: #fff3f3;
    max-width: 5rem;
    overflow-x: hidden;
    overflow-y: scroll;
    text-align: right;
    box-shadow: 2px 3px 5px 0 rgba(231, 230, 230, 0.75);
    z-index: 999;
}

.video-section .course-list {
    list-style: none;
    margin: 0.2rem 1rem 2rem 0;
    padding-right: 1rem;
    width: 95%;
}

.course-list li {
    padding: 0.3rem 0;
    width: 100%;
    /*border: 2px solid;*/
}

.course-list li span:last-child {
    font-size: large;
    font-weight: bold;
}

.course-list li a {
    text-decoration: none;
    font-size: large;
}

.course-list li a:hover,
.course-list li a:focus,
.course-list li a:active {
    color: black;
}

.dropdown-item {
    border-bottom: 1px solid #efe9e9 !important;
    padding: 10px !important;
}

.dropdown-item:active {
    background-color: #0d6efd !important;
}

.fa-chevron-down {
    font-size: small;
}

@media (min-width: 768px) and (max-width: 1000px) {
    .course-list .li-arrow {
        display: inline-block;
        margin-right: 3rem;
        font-size: small;
    }
}

/*video player start*/
.video {
    aspect-ratio: 16 / 9;
    width: 100%;
    height: 100%;
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 0;*/
}

/*video navigation mobile start*/
.video-nav-mobile .card-header:not(:first-child) {
    border-top: 1px solid lightgray !important;
}

.fa-chevron-down.up {
    transform: rotate(-180deg);
}


/*footer start*/

.footer {
    height: 25rem;
    position: relative;
    background-image: linear-gradient(to bottom, rgb(0 255 255/ 0.26), rgb(255 216 0 /0.42)), url(/images/p4.jpg);
    background-repeat: no-repeat no-repeat;
    background-size: cover;
    background-position: center center;
}

.contact-details .contact-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 2rem 0;
}

.contact-item h1 {
    font-weight: bold;
    font-size: 20px;
}

.contact-item a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 1rem;
}

.social-media {
    margin: 0 auto 0 0;
    min-width: 200px;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 768px) {
    .contact-item h1 {
        font-size: 3rem;
    }

    .contact-item a {
        font-size: 3rem;
    }
}